# Keep the following list of files/directories to exclude from version control as small as possible.
# Only patterns relevant for the current project should appear in this list.

# Python bytecode directories
__pycache__/

# Output directories for Python distribution files (wheels & source distributions)
/dist/
/wheelhouse/

# Python virtual environments (usual names)
env/
venv/
.env/
.venv/
env[_\-]*/
venv[_\-]*/
.env[_\-]*/
.venv[_\-]*/

# CMake build directories (usual names)
build/
build[_\-]*/

# MacOS files
.DS_Store

# IDE files
.vscode/
.idea/
